@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-800 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}